In [25]:
from sklearn import linear_model 
import statsmodels.api as sm
import pandas as pd
import numpy as np
import requests
import json
import io
str=input('Enter the name of the stock you want ot predict (in Capital) :')
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+str+'&outputsize=full&apikey=47DJ9RC2J7RJYJ9B&datatype=csv'

s=requests.get(url).content

df=pd.read_csv(io.StringIO(s.decode('utf-8')))

Enter the name of the stock you want ot predict (in Capital) :AAPL

In [26]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol='+str+'&interval=5min&outputsize=full&apikey=47DJ9RC2J7RJYJ9B&datatype=csv'

s=requests.get(url).content

df_real=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [27]:
df_real.head()

             timestamp     open     high       low     close   volume
0  2019-07-30 16:00:00  208.940  208.940  208.3436  208.6850  1096338
1  2019-07-30 15:55:00  208.985  209.210  208.9200  208.9500   649403
2  2019-07-30 15:50:00  208.870  209.000  208.7550  208.9858   490842
3  2019-07-30 15:45:00  209.090  209.100  208.8000  208.8739   434540
4  2019-07-30 15:40:00  209.315  209.315  208.9246  209.0800   412610

In [29]:
# d_['open'].iloc[1]

In [30]:
df.head()

    timestamp    open    high     low   close    volume
0  2019-07-30  208.76  210.16  207.31  208.78  32947899
1  2019-07-29  208.46  210.64  208.44  209.68  21673389
2  2019-07-26  207.48  209.73  207.14  207.74  17618874
3  2019-07-25  208.89  209.24  206.73  207.02  13909535
4  2019-07-24  207.67  209.15  207.17  208.67  14991567

In [31]:

X = df[['open','high','low','volume']] 
Y = df['close'] 
regr = linear_model.LinearRegression()
regr.fit(X, Y)
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 -0.08885627887997316
Coefficients:
 [-6.14981253e-01  9.00449056e-01  7.13463182e-01 -8.00326827e-13]

In [32]:
openv= df_real['open'].iloc[1]
highv= df_real['high'].iloc[1]
lowv = df_real['low'].iloc[1]
volume= df_real['volume'].iloc[1]

In [33]:
Prediction_result  = ('Predicted Closing Value: ', regr.predict([[openv ,lowv,highv,volume]]))

In [34]:
Prediction_result

('Predicted Closing Value: ', array([208.7747351]))